[project]
	description = Kaggle Santander satisfaction project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon Dai (dsx1986)
[access "refs/for/refs/*"]
	read = group user/Simon Dai (dsx1986)
	push = group user/Simon Dai (dsx1986)
	label-Code-Review = -2..+2 group user/Simon Dai (dsx1986)
	label-Verified = -1..+1 group user/Simon Dai (dsx1986)
	rebase = group user/Simon Dai (dsx1986)
	removeReviewer = group user/Simon Dai (dsx1986)
	submit = group user/Simon Dai (dsx1986)
[access "refs/heads/*"]
	read = group user/Simon Dai (dsx1986)
	create = group user/Simon Dai (dsx1986)
	push = +force group user/Simon Dai (dsx1986)
	pushMerge = group user/Simon Dai (dsx1986)
[access "refs/tags/*"]
	push = +force group user/Simon Dai (dsx1986)
	pushTag = group user/Simon Dai (dsx1986)
	pushSignedTag = group user/Simon Dai (dsx1986)
